euicc-efs-container/src/main/resources/WebServicesAPI/ES2_MNO.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://namespaces.gsma.org/esim-messaging/3"
    xmlns:rps="http://namespaces.gsma.org/esim-messaging/3"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsa="http://www.w3.org/2005/08/addressing"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
    
<!-- WSDL TYPES -->
    <wsdl:types>
        <xs:schema targetNamespace="http://namespaces.gsma.org/esim-messaging/3" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/euicc.request.ES2.xsd"/>
        </xs:schema>
		<xs:schema targetNamespace="http://www.w3.org/2005/08/addressing" elementFormDefault="qualified" >
            <xs:include schemaLocation="xsd/import/ws-addr.xsd"/>
        </xs:schema>
    </wsdl:types>

 <!-- WSA MESSAGES -->
    <wsdl:message name="SoapHeader">
        <!-- WSA MANDATORY -->
        <wsdl:part name="From" element="wsa:From"/>
        <wsdl:part name="To" element="wsa:To"/>
        <wsdl:part name="Action" element="wsa:Action"/>
        <wsdl:part name="MessageID" element="wsa:MessageID"/>
        <wsdl:part name="RelatesTo" element="wsa:RelatesTo"/>
        <!-- WSA OPTIONAL -->
        <wsdl:part name="ReplyTo" element="wsa:ReplyTo"/>      
    </wsdl:message>
    
<!-- ES2 MESSAGES -->
    <wsdl:message name="ES2-DisableProfileRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-DisableProfileRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-DisableProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-DisableProfileResponse"/>
    </wsdl:message>
    
     <wsdl:message name="ES2-EnableProfileRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-EnableProfileRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-EnableProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-EnableProfileResponse"/>
    </wsdl:message>
    
     <wsdl:message name="ES2-DeleteProfileRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-DeleteProfileRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-DeleteProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-DeleteProfileResponse"/>
    </wsdl:message>
    
     <wsdl:message name="ES2-DownloadProfileRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-DownloadProfileRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-DownloadProfileResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-DownloadProfileResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ES2-GetEISRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-GetEISRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-GetEISResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-GetEISResponse"/>
    </wsdl:message>
    
     <wsdl:message name="ES2-UpdatePolicyRulesRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-UpdatePolicyRulesRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-UpdatePolicyRulesResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-UpdatePolicyRulesResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ES2-UpdateSubscriptionAddressRequestMessage">
        <wsdl:part name="parameters" element="rps:ES2-UpdateSubscriptionAddressRequest"/>
    </wsdl:message>
    <wsdl:message name="ES2-UpdateSubscriptionAddressResponseMessage">
        <wsdl:part name="parameters" element="rps:ES2-UpdateSubscriptionAddressResponse"/>
    </wsdl:message>
    
<!-- SOAP PORT OPERATIONS -->
    <wsdl:portType name="ES2Mno">
        <wsdl:operation name="ES2-DisableProfile">
            <wsdl:input message="rps:ES2-DisableProfileRequestMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-DisableProfileRequest"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-DisableProfileRequest"/>
            <wsdl:output message="rps:ES2-DisableProfileResponseMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-DisableProfileResponse"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-DisableProfileResponse"/>
        </wsdl:operation>
       
        <wsdl:operation name="ES2-EnableProfile">
            <wsdl:input message="rps:ES2-EnableProfileRequestMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-EnableProfileRequest"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-EnableProfileRequest"/>
            <wsdl:output message="rps:ES2-EnableProfileResponseMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-EnableProfileResponse"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-EnableProfileResponse"/>
        </wsdl:operation>
       
        <wsdl:operation name="ES2-DeleteProfile">
            <wsdl:input message="rps:ES2-DeleteProfileRequestMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-DeleteProfileRequest"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-DeleteProfileRequest"/>
            <wsdl:output message="rps:ES2-DeleteProfileResponseMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-DeleteProfileResponse"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-DeleteProfileResponse"/>
        </wsdl:operation>
    
        <wsdl:operation name="ES2-DownloadProfile">
            <wsdl:input message="rps:ES2-DownloadProfileRequestMessage"
                wsa:Action="http://gsma.com/ES2/ProfileManagement/ES2-DownloadProfileRequest"
                wsam:Action="http://gsma.com/ES2/ProfileManagement/ES2-DownloadProfileRequest"/>
            <wsdl:output message="rps:ES2-DownloadProfileResponseMessage"
                wsa:Action="http://gsma.com/ES2/PlatformManagement/ES2-DownloadProfileResponse"
                wsam:Action="http://gsma.com/ES2/PlatformManagement/ES2-DownloadProfileResponse"/>
        </wsdl:operation>
       
        <wsdl:operation name="ES2-GetEIS">
            <wsdl:input message="rps:ES2-GetEISRequestMessage"
                wsa:Action="http://gsma.com/ES2/DataPreparation/ES2-GetEISRequest"
                wsam:Action="http://gsma.com/ES2/DataPreparation/ES2-GetEISRequest"/>
            <wsdl:output message="rps:ES2-GetEISResponseMessage"
                wsa:Action="http://gsma.com/ES2/DataPreparation/ES2-GetEISResponse"
                wsam:Action="http://gsma.com/ES2/DataPreparation/ES2-GetEISResponse"/>
        </wsdl:operation>
    
        <wsdl:operation name="ES2-UpdatePolicyRules">
            <wsdl:input message="rps:ES2-UpdatePolicyRulesRequestMessage"
                wsa:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdatePolicyRulesRequest"
                wsam:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdatePolicyRulesRequest"/>
            <wsdl:output message="rps:ES2-UpdatePolicyRulesResponseMessage"
                wsa:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdatePolicyRulesResponse"
                wsam:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdatePolicyRulesResponse"/>
        </wsdl:operation>
    
        <wsdl:operation name="ES2-UpdateSubscriptionAddress">
            <wsdl:input message="rps:ES2-UpdateSubscriptionAddressRequestMessage"
                wsa:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdateSubscriptionAddressRequest"
                wsam:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdateSubscriptionAddressRequest"/>
            <wsdl:output message="rps:ES2-UpdateSubscriptionAddressResponseMessage"
                wsa:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdateSubscriptionAddressResponse"
                wsam:Action="http://gsma.com/ES2/ProfileManagement/ES2-UpdateSubscriptionAddressResponse"/>
        </wsdl:operation>
    </wsdl:portType>

 <!-- SOAP BINDING -->
    <wsdl:binding name="ES2MnoServiceBinding" type="rps:ES2Mno">
        <wsoap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
        <wsdl:operation name="ES2-DisableProfile">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
             <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ES2-EnableProfile">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
             <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ES2-DeleteProfile">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="ReplyTo"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
             <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        
         <wsdl:operation name="ES2-DownloadProfile">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
             <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        
         <wsdl:operation name="ES2-GetEIS">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>  
        
        <wsdl:operation name="ES2-UpdatePolicyRules">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ES2-UpdateSubscriptionAddress">
            <wsoap12:operation style="document"/>
            <wsdl:input>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="From" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="To" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="MessageID" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="Action" wsdl:required="true"/>
                <wsoap12:header message="rps:SoapHeader" use="literal" part="RelatesTo" wsdl:required="true"/>
                <wsoap12:body use="literal" wsdl:required="true"/>
            </wsdl:output>
        </wsdl:operation>
       
       
    </wsdl:binding>

<!-- SOAP SERVICE -->
    <wsdl:service name="ES2MnoService">
        <wsdl:port binding="rps:ES2MnoServiceBinding" name="MnoES2Port">
            <wsoap12:address location="http://gsma.org/esim-messaging/3/ES2/ES2MnoService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>